<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"" />
    <title>Restaurant Apps Starter Project</title>
    <script
      src="https://kit.fontawesome.com/92d96e629d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <a href="#title" class="skip-link">Menuju ke konten utama</a>

    <div id="mySidenav" class="sidenav">
      <button
        href="javascript:void(0)"
        class="close-btn"
        onclick="closeNav()"
        aria-label="close side nav"
      >
        &times;
      </button>
      <a href="/">Home</a>
      <a href="#">Favorite</a>
      <a href="https://github.com/raprayoga">About Us</a>
    </div>

    <nav>
      <img
        src="./images/logo/ngemlLogo3.png"
        alt="ngemeal logo brand"
        class="logo-brand"
      />
      <button class="burger-btn" onclick="openNav()" aria-label="open side nav">
        <i class="fas fa-bars"></i>
      </button>
      <div class="navigation-menu">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="#">Favorite</a>
          </li>
          <li>
            <a href="https://github.com/raprayoga">About Us</a>
          </li>
        </ul>
      </div>
    </nav>

    <div
      class="hero-component"
      style="background-image: url('./images/heros/hero-image_2.jpg')"
    >
      <div class="overlay"></div>
      <div class="hero">
        <img
          src="./images/logo/ngemlLogo.png"
          alt="ngemeal logo brand"
          class="logo-brand"
        />
        <h1 tabindex="0">Ngemeal Yuk!</h1>
        <p tabindex="0">
          Temukan berbagai macam rekomendasi restoran dengan terbaik
        </p>
      </div>
    </div>

    <main>
      <div id="title">
        <h2>Explore Restaurant</h2>

        <div id="list"></div>
      </div>
    </main>

    <footer>copyright &copy; 2021 - <span> nGemeal</span></footer>
  </body>

  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>
</html>
