<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"" />
    <title>Restaurant Apps Starter Project</title>
    <script
      src="https://kit.fontawesome.com/92d96e629d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <a href="#title" class="skip-link">Menuju ke konten utama</a>

    <nav>
      <img
        src="./images/logo/ngemlLogo3.png"
        alt="ngemeal logo brand"
        class="logo-brand"
      />
      <button class="burger-btn" id="burger-btn" aria-label="open side nav">
        <i class="fas fa-bars"></i>
      </button>
      <div class="navigation-menu">
        <ul>
          <li>
            <a href="#/">Home</a>
          </li>
          <li>
            <a href="#/like">Favorite</a>
          </li>
          <li>
            <a href="https://github.com/raprayoga">About Us</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="mySidenav" class="sidenav">
      <button
        href="javascript:void(0)"
        class="close-btn"
        id="close-btn"
        aria-label="close side nav"
      >
        &times;
      </button>
      <a href="#/">Home</a>
      <a href="#/like">Favorite</a>
      <a href="https://github.com/raprayoga">About Us</a>
    </div>

    <main id="root"></main>

    <footer>
      copyright &copy; 2021 -
      <span>nGemeal</span>
    </footer>
  </body>
</html>
