.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.hero-component {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 566px;
  width: 100%;
  background-size: cover;
  background-position: center;
  color: white;
  align-items: center;
  justify-content: center;
}

.navigation-menu {
  display: none;
}

.navigation-menu ul li {
  display: inline;
  margin-right: 2rem;
}

.navigation-menu ul li a {
  text-decoration: none;
  color: #a20a0a;
}

.navigation-menu ul li a:hover {
  color: #fc6a6a;
}

.hero-component h1 {
  font-weight: bolder;
  font-size: 3rem;
}

.hero {
  display: flex;
  flex-direction: column;
  text-shadow: 1px 1px black;
}

.hero-component .hero,
.hero-component img {
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 2;
  margin: auto;
}

.hero img {
  width: 200px;
}

.hero-image {
  flex: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #f6eec9;
}

.fa-bars {
  color: #a20a0a;
}

.burger-btn {
  width: 44px;
  height: 44px;
  margin: 10px;
  border: none;
  background-color: #f6eec9;
  cursor: pointer;
}

.logo-brand {
  height: 100%;
  width: 100px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #5b5b5b82;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  background-color: #a20a0a;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: black;
}

.sidenav .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background-color: #a20a0a;
  border: none;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

#mySidenav {
  border-right: 1px solid black;
}

main {
  margin: 3.5rem 2.5rem;
}

#title h2 {
  text-align: center;
}

#list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  padding: 0.6rem;
  flex-basis: 100%;
  margin-bottom: 2rem;
  border-radius: 5%;
  padding-left: 8px;
  padding-right: 8px;
  height: 350px;
  background-color: #f6eec9;
  flex-direction: column;
  box-shadow: 3px 3px 5px #000000b8;
  display: flex;
}

.image-wrap {
  position: relative;
}

.card-item img {
  width: 100%;
  border-radius: 5%;
  position: relative;
  height: 200px;
}

.image-wrap p {
  color: white;
  position: absolute;
  top: 10px;
  background-color: #a20a0a;
  padding: 8px;
  box-shadow: 3px 3px 5px #000000b8;
  border-radius: 0 0 10px 0;
}

.card-item h3 {
  margin-top: 4px;
  margin-bottom: 5px;
}

.card-item .desc {
  overflow: hidden;
  font-size: smaller;
  margin-top: 0;
}

footer {
  background-color: #f6eec9;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer span {
  color: #a20a0a;
}

@font-face {
  font-family: Atma-medium;
  src: url(/assets/font/Atma/Atma-Medium.ttf);
}

@media only screen and (min-width: 768px) {
  .hero {
    text-align: center;
  }

  #list {
    flex-direction: row;
  }

  main {
    margin: 3.5rem 3.5rem;
  }

  .card-item {
    flex-basis: 30%;
    height: 300px;
  }

  .card-item img {
    height: 150px;
  }

  .burger-btn {
    display: none;
  }

  .navigation-menu {
    display: block;
  }
}
